<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MINI_PROJECT</title>
    <h1 style="font-family: arial;font-weight: bold;text-align: center;color: red;background: yellow;width: 350px;margin-left: 500px">Image Stegnography</h1>
 
</head>
<body bgcolor="black">
	<br>
	<center>
	<p style="font-family: arial;font-weight: bold;color: blue;margin-top: 50px;font-size: 30px">
		Hide Data Inside Image :
		<a href="encode" style="text-decoration: none;color: pink">click here</a> </p>
	<p style="font-family: arial;font-weight: bold;color: blue;margin-top: 50px;font-size: 30px">
		Extract Data In Image :
		<a href="decode" style="text-decoration: none;color: pink">click here</a> </p>
	</center>
	<p style="black: blue;margin-top: 200px;margin-left: 900px;background: white;width: 250px;font-weight: bold;"> ---> attacker@127.0.0.1		

</body>
</html>
